<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="logo" href=""><img src="./assets/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ml-auto">
                <li><a href="" title="Trang chủ">Trang chủ</a></li>
                <li><a href="" title="Giới thiệu"></a></li>
                <li><a href="" title="Dự án"></a></li>
                <li><a href="" title="Liên hệ"></a></li>
            </ul>
        </div>
    </nav>
</header>