<main class="pr">
    <img src="./assets/img/bg_xoso.jpg" class="bg" alt="">
    <div class="main-inner">
        <div class="box-spining flex pr">
            <div class="spining spining1 flex">
                <div class="spining_number flex">
                    <div id="num_0" class="box-number">
                        <div class="number"><span>0</span></div>
                        <a href="javascript:;" class="btn_quay btn_quay0" index="1" min="1" max="55"></a>
                    </div>
                    <div id="num_1" class="box-number">
                        <div class="number"><span>0</span></div>
                        <a href="javascript:;" class="btn_quay btn_quay1" index="2" min="0" max="55"></a>
                    </div>
                    <div id="num_2" class="box-number">
                        <div class="number"><span>0</span></div>
                        <a href="javascript:;" class="btn_quay btn_quay2" index="3" min="0" max="55"></a>
                    </div>
                </div>
            </div>
            <div class="spining spining2 flex">
                <div class="spining_number flex">
                    <div id="num_3" class="box-number">
                        <div class="number"><span>0</span></div>
                        <a href="javascript:;" class="btn_quay btn_quay3" index="1" min="1" max="55"></a>
                    </div>
                    <div id="num_4" class="box-number">
                        <div class="number"><span>0</span></div>
                        <a href="javascript:;" class="btn_quay btn_quay4" index="2" min="0" max="55"></a>
                    </div>
                    <div id="num_5" class="box-number">
                        <div class="number"><span>0</span></div>
                        <a href="javascript:;" class="btn_quay btn_quay5" index="3" min="0" max="55"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="name"><span></span></div>
        <a href="javascript:;" title="" class="btn_quay_new">Quay giải mới</a>
    </div>
</main>