@mixin center_y($position){
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center_x($positon){
  position: $positon;
  left: 50%;
  transform: translateX(-50%);
}
@mixin position_center($position){
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@mixin block($display, $w, $h){
  display: $display;
  width: $w;
  height: $h;
}

@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vwm($target) {
  $vw-context: (640 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function v($var) {
  @return var(--#{$var});
}

$img-path: "../img";
$font-path: "../fonts";

%hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}
img.bg{max-width: 100%;}
.flex{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.flex_center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex_beween{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

@font-face {
  font-family: UTMAvoBold;
  src: url("../../both/font/UTMAvoBold.ttf");
}

body{
  background: #140126;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
img{max-width: 100%;}
a{transition: .25s;}
a:hover{text-decoration: none;}
.main-inner{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}
.box-spining{
  width: vw(930px);
  margin: vw(430px) auto 0;
}
.spining1{left: 0;}
.spining2{right: 0;}
.spining{
  width: vw(465px); height: vw(245px);
  padding: vw(26px) vw(57px) 0;
  background: url("#{$img-path}/bg_sp.png") no-repeat 0 0/contain;
  .box-number{width: vw(117px);}
  .number{width: 100%; height: vw(110px); overflow: hidden;}
  span{display: block; text-align: center; color: #880101; font: 900 vw(96px) 'Roboto', sans-serif;}
  .number.spiningY span{animation: spiningY .5s linear infinite;}
  .btn_quay{
    width: vw(140px); height: vw(96px);
    display: block; margin-left: vw(-5px);
    background: url("#{$img-path}/btn_quay.png") no-repeat 0 0/contain;
    &:hover{-webkit-filter: saturate(2.1); filter: saturate(2.1);}
  }
}
.name{
  display: block;
  margin-top: vw(730px);
  text-align: center;
  font: vw(74px) UTMAvoBold, sans-serif;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#ffff90, #c0a000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn_quay_new{
  width: vw(292px); height: vw(128px);
  display: block; text-indent: -9999em;
  background: url("#{$img-path}/btn_quay1.png") no-repeat 0 0/contain;
  margin: vw(25px) auto 0;
  &:hover{-webkit-filter: saturate(2.1); filter: saturate(2.1);}
}


@keyframes spiningY {
  0%{transform: translateY(-100%);}
  100%{transform: translateY(150%);}
}
@-webkit-keyframes spiningY {
  0%{transform: translateY(-100%);}
  100%{transform: translateY(150%);}
}

.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
